<div class="row-fluid">
<h1>About Us</h1>

	Zhongshan ASG Technology Lighting Co Ltd is located in UK Manchestor ,specialized in developing and manufacturing LED lighting products ,we have good sourcing and full knowledge of lighting and can support best service to customer all over the world!

	Products lines include LED fluorescent tube light, LED flexible strip light, Rigid LED bar, LED spotlight bulbs, LED ceiling lights, LED panel light, LED grow light and other led lighting products.

	The R&D Team is composed by experienced LED driver system developing engineers, optical controlling engineers and structural design engineers. We offer OEM&ODM service.

	Quality Control is one of the key factors that our products can be exported to Europe market and America market. No piece of substandard product being delivered from our company is the main responsibility of the QC Dept. The QC process includes Incoming Quality Control, In Process Quality Control, Final Quality Control, and Outgoing Quality Control.
</div>