<div class="row-fluid">
	<div class="span12">
		<h1>About Us</h1>
		
			<p align="justify" style="width: 165ex;">
				Welcome to Enlitening – your smart choice to lighting solution. Our passion is to offer you the best lighting solution without paying too much for the contemporary expensive items.
				We supply a wide 
				range of decent quality LED products to meet your most every day lighting needs. 
			</p>
		
		<p align="justify" style="width: 165ex;">
			Like other scientific innovations the lighting market is in transition and LEDs are emerging as the most viable, sustainable and cost-effective alternative to the majority of incandescent, halogen and fluorescent light sources. LED lighting has earned great fame and is being widely welcomed by the consumers over the past few years. For, the use of LED lighting significantly reduces energy consumption and work expressively longer if compared to conventional light sources.
		</p>
		<p align="justify" style="width: 165ex;">
			Despite great advantages a dearer price has been a concern in past. But we believe technological innovations are stimulating brilliant ideas and offering superb solutions and price should never be an issue to hold mankind back from benefiting such innovations. 
			With this approach we are stepping forward to provide you the services and products you enjoy 
			using for the best possible price. 
		</p>
		<p align="justify" style="width: 165ex;">
			For this, we pride ourselves in our continuous sourcing and product development which ensures we could offer an innovative domestic and commercial range of lights for you. Therefore each model of LED lights we sell carries the promise of high performance in a meaningful range of conditions without putting extra burden on your pocket. 
		</p>
		<p align="justify" style="width: 165ex;">
			Your satisfaction is Our satisfaction.
		</p>
	</div>

</div>