<div class= "row-fluid">
	<h2> <%= link_to 'Categories',admin_categories_path%></h2>
	<h2> <%= link_to 'Products',admin_products_path%></h2>

	<h2> <%= link_to 'Contact Us',admin_contactors_url%></h2>
</div>