		<%= form_tag new_admin_session_path, :method => 'post', "data-validate" => "parsley" do%>

		<div class="control">
			<%= text_field_tag 'email','', "placeholder"=> 'Email', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= text_field_tag 'message','', "placeholder"=> 'Message', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= submit_tag 'submit', :class=>'btn btn-primary'%>
		</div>
		<%end%>