<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order / info for enlitening</h1>
    <p>
    <h2>Name of user: <%= @user_name%></h2>
    </p>
    <p>
     <h3>User's message: </h3>  <%= @message%>
    </p>
    
  </body>
</html>