<strong>Name</strong>, <strong>Action</strong>

<%@categories.each  do |cat|%>
<p><%= cat.name%> <%=link_to 'Edit',edit_admin_category_path(cat) %>, <%=link_to 'Delete',admin_category_path(cat),:confirm => "Are you sure?", :method => :delete %></p>

<%end%>

<%= link_to 'Add new Category', new_admin_category_path, :class =>'btn btn-green'%>